@import "imports";
@import url("https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&display=swap");

body {
  width: 100vw;
  height: 100vh;
}
.head-img {
  height: 40px;
}

.im-con {
  border: 1px solid black;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.card-img-top {
  height: 4rem;
}
.hero1 {
  background: url(/images/lidye-1Shk_PkNkNw-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
}

.card {
  border: none;
}

.slide-x {
  background-color: #6f42c1;
}

.cn-cards {
  overflow-x: scroll;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Love Ya Like A Sister";
}

.custom-toggler {
  border-color: #6f42c1 !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(111, 66, 193, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
